#root {
    display: grid;
    row-gap: 3vh;
}

.pad {
    padding: 2vh 2vw;
}
@media screen and (min-width: 1024px) {
    #root {
        grid-template-areas: 
        "switcher gantt gantt gantt gantt gantt"
        "side gantt gantt gantt gantt gantt"
        "side stat stat stat stat stat"
        "side stat stat stat stat stat";
        column-gap: 3vh;
    }
    .gantt {
        grid-area: gantt;
    }

    .input {
        grid-area: side;
    }

    .switcher {
        grid-area: switcher;
    }

    .stat {
        grid-area: stat;
    }
}